# Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment directories
env/
venv/
.venv/

# Python-specific cache and log files
*.log
*.sqlite3
*.db
.Python
pip-log.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Exclude Blender files
*.blend
*.blend1

# GPT Coder directory
gpt_coder/
